@model dynamic

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/ServProDetails.css" type="text/css"/>
</head>

<h2>Service Provider Details</h2>

<table>
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    <!--now make this list to display, for that single provider,
    the appointments for one single day-->
    @foreach (ServiceProvider prov in Model.ServiceProvider)
    {
        <tr>
            <td>@prov.Name</td>
            <td>@prov.Id</td>
        </tr>
    }
</table>

<div>
   <!-- figure out how to reference just one model from dynamic to access the EDIT method-->
    <a asp-action="Index">Back to List</a>
</div>
