@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to Lakeside Spa!!!</h2>
<p>Come on in, the water's just fine.</p>
<img src="~/Images/Spa.jpg" class="img-responsive center-block" alt="spa image" height="800" width="900"/>
